
<img class="homeBeer" src="/images/beer.png" alt="Beer!">

<div class="containBtns">
    <div class="buttons">
        <a href="/beers">Check the Beers!</a>
    </div>

    <div class="buttons">
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>


